{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  *{
    /* box-sizing: border-box; */
  }
  textarea {
    width: 92%;
    height: 50%;
  }
  .title-content{
    display: block;
  }
  .write-post{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    display: block;
  }
  .write-post button{
    border: none;
    background-color: black;
    padding: 5px;
    color: white;
    margin-top: 20px;
  }

  .write-post input[type='text']{
    width: 85%;
    padding: 5px;
  }
  .write-post{
    /* width: 100%;
    height: 500px; */
    /* border: 1px solid black; */
  }
</style>
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" style="width: 80px; height: 80px" src="{{ user.profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE -->
  <br>
  <div class="write-post">

    <form action="{% url 'addPost' %}" method="POST">
      {% csrf_token %}
      <h3 style="margin-bottom: 15px;">Write a Post</h3>
      <div class="title-content">
      <label>Title: </label>
      <input type="text" id="title" name="title"></div><br>
      <div class="content-area">
      <label>Content</label>
      <textarea id="data" name="data"></textarea>
    </div>
      <button type="submit">Submit Post</button>
    </form>
  </div>
  <h3 style="margin-top: 10px;"><u>Your previous Posts</u></h3>̦
  {% for post in user_posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
      </div>
      <h2><a class="article-title" href="{% url 'specific_blog' post.author post.title %}">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock content %}
